:root {
    --primary-font: "Yeseva One", serif;
   
  }
  
  .card-pacientes {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .container-pacientes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .card-info-pacientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color:rgb(209, 209, 209);
    width: 60%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .card-info-pacientes:hover {
    transform: scale(1.01);
  }
  
  .Doctor-Hover:hover {
    transform: scale(1.01);
    background-color: var(--color-dark-hover);
  }
  
  .pacientes-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  
  .texto-pacientes {
    margin-top: 20px;
    text-align: center;
    color: #1F2B6C;
  }
  
  .card-info-h3 {
    font-size: 1.6em;
    color: var(--color-dark-blue);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  .profile-button-pacientes {
    background: var(--color-dark-blue);
    color: #f2f7ff;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    transition: background 0.3s ease;
    border-radius: 5px;  /* Borda arredondada */
  }
  
  .profile-button-pacientes:hover {
    background-color: #0026ff8c;
  }
  
  .card-info-pacientes:hover {
    transform: scale(1.05);
  }
  