.headerMedico {
    display: flex;
    align-items: center;
    background-color: #2A5B3A;
    color: white;
    padding: 20px;
    font-size: 20px;
    height: 80px;
    width: 100%;
}

.imgHeader {
    width: 250px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
     margin-left: 35%;

}

.nav-medico {
    display: flex;
    gap: 20px;


}

.nav-actions {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.login-button {
    display: inline-block;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background-color: #73ca77;
}

.btn-sair-perfil {
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    color: var(--color-cadastro-hover);
    display: inline-block;
}

.links{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

